<%= stylesheet_link_tag "index"%>

<div class="users_container">
<% @users.each do |user| %>
  <div class="user_container">
    <img src=<%= user.photo %> alt="User photo" width="80" height="80">
      <div>
        <h1><%= user.name %></h1><small>Number of posts: <%= user.posts_counter%></small>
      </div>
    </div>
<% end %>
</div>