.users_container {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 30px;
  width: 500px;
}

.user_container {
  display: flex;
  gap: 25px;
}

.user_container img {
  border: 1px solid black;
  align-self: center;
}

.user_container div {
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  gap: 120px;
  padding: 5px 20px;
}